<h1><%= current_user.username.capitalize %>'s Cars</h1>

<%= render 'users/errors' %>
  
<ul>
    <% @cars.each do |car| %>
        <li><%= link_to(car.year+' '+car.make+' '+car.model, car_path(car)) %><br>
    <% end %>
</ul>

Discover Save the Manuals Community <%= link_to("here", save_the_manuals_path) %>